:root {
    --eucalyptus: #38CCAE;
    --grey: #848482;
    --dark: #1b1b1b;
    --dark-violet: RGB(84, 118, 118);
    --sea: RGB(63, 176, 172);

}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, var(--dark), var(--eucalyptus));
    overflow: hidden;
    color: #fff;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

.bg__img {
    position: absolute;
}

.bg__img--dots {
    top: 0;
    right: 5vw;
    height: 60vh;
    z-index: 1;
    animation: rotate 60s linear infinite;
}

.bg__img--button {
    top: 0;
    left: 10vw;
    height: 30vh;
    z-index: 1;
    animation: slideDown 20s linear infinite;
}

@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}

@keyframes slideDown {
    from{transform: translateY(-30vh);}
    to{transform: translateY(100vh);}
    
}

header {
    position: relative;
    z-index: 3;
}

h1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.header_text {
    /* background: green;
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--green), #fff);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.slider {
    height: 60vh;
    width: 70vw;
    padding: 20px 0  0 0;
    border-radius: 5vh;
    background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2));
    backdrop-filter: blur(5px);
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides-container {
    height: 300px;
    width: 600px;
}

.arrow {
    position: absolute;
    cursor: pointer;
    font-size: 50px;
    font-weight: 800;
    color: black;
    /* -webkit-text-stroke: 1px black; */
    text-shadow: -2px 0 var(--eucalyptus), 0 2px var(--eucalyptus), 2px 0 var(--eucalyptus), 0 -2px var(--eucalyptus);
}

.arrow:hover {
    font-size: 60px;
}

.left-arrow {
    left: 5%
}

.right-arrow {
    right: 5%
}

.slide {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}

.active {
    display: block;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 10px;
    background-color: black;
    border-radius: 100%;
    border: solid 2px #38CCAE;
    outline: none;
    cursor: pointer;
}

.dot:hover {
    outline: solid 3px #38CCAE;
}